.root {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: lightblue;
}

.card {
    width: 22%;
    border: 1px solid royalblue;
    margin: 5px;
    padding: 10px;
    background-color: aliceblue;
}